<div id="lnav">
    <p>Table of content</p>

    <% for (i, child) in routes.children[0].children.iter().enumerate() {%> <%
    if child.name != lang { continue; } else { %> <% for (i, chapter) in
    child.children.iter().enumerate() {%>
    <h3 id="title"><%= chapter.name%></h3>
    <ul>
        <% for (i, lesson) in chapter.children.iter().enumerate() {%>
        <li>
            <a href="/<%=lang %>/<%=chapter.name %>/<%=lesson.name %>"
                ><%= lesson.name %></a
            >
        </li>
        <%}%>
    </ul>
    <%}%> <%}%> <%}%>
</div>
<div id="rnav">
    <ul>
        <li><a href="#">Computer hardware</a></li>
        <li><a href="#">Computer software</a></li>
        <li><a href="#">Operating systems</a></li>
        <li><a href="#">Applications</a></li>
        <li><a href="#">Internet</a></li>
        <li><a href="#">Security</a></li>
    </ul>
</div>
